<app-code-snippet [codeSnippet]="codeSnippet"></app-code-snippet>

<button (click)="doSubscribe()">Do subscribe</button>
<button (click)="doTrigger()">Do Trigger</button>
<button (click)="doComplete()">Do Complete</button>

<div class="observable_area">
  <p>concat will run all streams in a row, emitting each value as it goes</p>
  <p>it's syntax is also a bit weird; it takes a list of arguments, not an array, ergo ...[] it</p>
  <p>Good for having an ordered execution of streams</p>

  <app-observable-graph
    [endTime]="endTime"
    [startTime]="subscribeStartTime"
    [stream$]="emitStream$"
    title="Emits"
  ></app-observable-graph>
  <app-observable-graph
    [endTime]="endTime"
    [startTime]="subscribeStartTime"
    [stream$]="runStream$"
    title="Runs"
  ></app-observable-graph>
</div>
