<h1>Cold Test</h1>
<app-code-snippet [codeSnippet]="codeSnippet"></app-code-snippet>
<button (click)="doSubscribe()">Do subscribe</button>
<button (click)="doUnsubscribe()">Do Unsubscribe</button>

<div class="observable_area">
  <app-observable-graph
    [endTime]="endTime"
    [startTime]="subscribeStartTime"
    [stream$]="emitStream$"
    title="Emits"
  ></app-observable-graph>
  <app-observable-graph
    [endTime]="endTime"
    [startTime]="subscribeStartTime"
    [stream$]="runStream$"
    title="Runs"
  ></app-observable-graph>
</div>
