<app-code-snippet [codeSnippet]="codeSnippet"></app-code-snippet>

<button (click)="doSubscribe()">Do subscribe</button>

<div class="observable_area">
  <p>merge will run all streams in parallel, and emit each one as it completes</p>
  <p>it's syntax is also a bit weird; it takes a list of arguments, not an array, ergo ...[] it</p>
  <p>Good to quickly complete all streams in parallel and emit each time (procedural loading)</p>

  <app-observable-graph
    [endTime]="endTime"
    [startTime]="subscribeStartTime"
    [stream$]="emitStream$"
    title="Emits"
  ></app-observable-graph>
  <app-observable-graph
    [endTime]="endTime"
    [startTime]="subscribeStartTime"
    [stream$]="runStream$"
    title="Runs"
  ></app-observable-graph>
</div>
