<div style="display: grid; grid-template-columns: 1fr 0fr 7fr; height: 100%; width: 100%">
  <div style="background: #f1f1f1; border-right: 1px solid black; margin-right: 12px; height: 100%">
    <ul>
      <li><a routerLink="" routerLinkActive="active">home</a></li>
    </ul>
    <ul>
      <app-expandable-tree [expanded]="true" [title]="'RxJS multi streams'">
        <li><a routerLink="concat" routerLinkActive="active">concat</a></li>
        <li><a routerLink="forkJoin" routerLinkActive="active">forkJoin</a></li>
        <li><a routerLink="merge" routerLinkActive="active">merge</a></li>
        <li><a routerLink="combineLatest" routerLinkActive="active">combineLatest</a></li>
      </app-expandable-tree>
    </ul>
    <ul>
      <app-expandable-tree [expanded]="true" [title]="'RxJS Error Handling'">
        <li><a routerLink="catchError" routerLinkActive="active">catchError</a></li>
        <li><a routerLink="retryWhen" routerLinkActive="active">retry</a></li>
      </app-expandable-tree>
    </ul>
    <ul>
      <app-expandable-tree [expanded]="true" [title]="'RxJS Hot/Cold'">
        <li><a routerLink="hotCold" routerLinkActive="active">hot and cold</a></li>
        <li><a routerLink="fromPromise" routerLinkActive="active">fromPromise</a></li>
        <li><a routerLink="makeCold" routerLinkActive="active">making a hot to cold observable</a></li>
        <li><a routerLink="makeSuperHot" routerLinkActive="active">making a stream behave like a promise</a></li>
      </app-expandable-tree>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
