<app-code-snippet [codeSnippet]="codeSnippet"></app-code-snippet>

<button (click)="doSubscribe()">Do subscribe</button>
<button (click)="doError()" [ngStyle]="{'border-color': makeErrors ? 'red' : 'green'}">Toggle Errors</button>
<button (click)="doComplete()">Do Complete</button>

<div class="observable_area">
  <p>retry(x) will retry the source x times before closing the subscription</p>
  <p>retry(count: x, delay: (err, count) => ...) can be used to fine tune a delay and maximum retry</p>

  <app-observable-graph
    [endTime]="endTime"
    [startTime]="startTime"
    [stream$]="emitStream$"
    title="Emits"
  ></app-observable-graph>
  <app-observable-graph
    [endTime]="endTime"
    [startTime]="startTime"
    [stream$]="runStream$"
    title="Runs"
  ></app-observable-graph>
</div>
