<div>
  <span>Displaying : {{title}}</span><span *ngIf="graphData"> total time: {{(graphData.totalTime)/1000 + 's'}}</span>

  <div style="height: {{(graphData?.events?.length || 1) * 12 + 16}}px">
  <ng-container *ngIf="graphData">
    <ng-container *ngFor="let event of graphData.events">
      <div class="marble" [ngStyle]="getStyleForMarble(event, graphData)">
        <span [title]="(event.time - graphData.startTime)/1000 + 's'">{{event.label}}</span>
      </div>
    </ng-container>
  </ng-container>
</div>
</div>
